* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::focus,
::active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input:focus-visible,
button:focus-visible,
textarea:focus-visible {
  outline: 0px;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto.woff") format("woff"), url("../fonts/Roboto.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #550ECA;
  grid-area: header;
  z-index: 5;
}

.header__body {
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0px 25px 0px;
}

.header-title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-title-block__logo {
  margin: 0px 25px 0px 0px;
}

.header-title-block__title {
  font-weight: 500;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (504 - 320)));
}

.header-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navmenu__list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px 10px 10px;
  font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (504 - 320)));
  color: white;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.navmenu__list li a:hover {
  background: #93CBFF;
  color: #8235FF;
}

.navmenu__submenu-container {
  border: 2px solid #67B6FF;
  border-radius: 8px;
  background: #5F5F5F;
}

.navmenu__submenu {
  position: absolute;
  top: 120%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.navmenu__submenu.show {
  position: absolute;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.navmenu__submenu li {
  border-bottom: 2px solid #67B6FF;
}

.navmenu__submenu li:last-child {
  border: none;
}

.navmenu__submenu li:first-child a {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.navmenu__submenu li:last-child a {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.submenu-open-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submenu-open-button img {
  width: calc(48px + (50 - 48) * ((100vw - 320px) / (504 - 320)));
  height: calc(48px + (50 - 48) * ((100vw - 320px) / (504 - 320)));
}

.fullscreen-navmenu {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: -1;
  width: 100%;
  height: 100%;
  font-size: calc(20px + (25 - 20) * ((100vw - 320px) / (504 - 320)));
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background: #000000ad;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fullscreen-navmenu.active {
  left: 0;
}

.fullscreen-navmenu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  overflow: auto;
}

.fullscreen-navmenu__body:before {
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  content: url(".");
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  background: #550ECA;
}

.fullscreen-navmenu ul {
  overflow: auto;
  width: 100%;
}

.fullscreen-navmenu ul li {
  text-align: center;
  padding: 25px 0px 25px 0px;
  margin: 0 auto;
  width: 50%;
  cursor: pointer;
  border-bottom: 2px solid #7FC1FF;
}

.fullscreen-navmenu ul li:hover {
  color: #beafaf;
}

.fullscreen-navmenu ul li:last-child {
  border: none;
}

.fullscreen-navmenu ul li a {
  color: #fff;
}

.searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #5F5F5F;
  padding: 10px 0px 10px 0px;
  margin-right: calc(20px + (40 - 20) * ((100vw - 320px) / (504 - 320)));
  border-radius: 7px;
}

.searchbar__input {
  display: block;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  padding: 0px 0px 0px 15px;
  margin: -10px 0px -10px 0px;
  background: #5F5F5F;
  color: #fff;
  width: calc(50px + (100 - 50) * ((100vw - 320px) / (504 - 320)));
  font-size: calc(12px + (13 - 12) * ((100vw - 320px) / (504 - 320)));
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.searchbar__input::-webkit-input-placeholder {
  color: #fff;
  font-size: calc(12px + (13 - 12) * ((100vw - 320px) / (504 - 320)));
}

.searchbar__input::-moz-placeholder {
  color: #fff;
  font-size: calc(12px + (13 - 12) * ((100vw - 320px) / (504 - 320)));
}

.searchbar__input:-ms-input-placeholder {
  color: #fff;
  font-size: calc(12px + (13 - 12) * ((100vw - 320px) / (504 - 320)));
}

.searchbar__input::-ms-input-placeholder {
  color: #fff;
  font-size: calc(12px + (13 - 12) * ((100vw - 320px) / (504 - 320)));
}

.searchbar__input::placeholder {
  color: #fff;
  font-size: calc(12px + (13 - 12) * ((100vw - 320px) / (504 - 320)));
}

.searchbar__input:focus {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.searchbar__submit {
  padding: 0px 10px 0px 10px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.searchbar__submit:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.searchbar__submit img {
  width: calc(29px + (30 - 29) * ((100vw - 320px) / (504 - 320)));
  height: calc(29px + (30 - 29) * ((100vw - 320px) / (504 - 320)));
}

.search-modal-icon {
  margin-right: calc(30px + (40 - 30) * ((100vw - 320px) / (504 - 320)));
}

.header__burger {
  display: none;
  border-radius: 0px;
  background-color: transparent;
}

.logo {
  z-index: 10;
  width: calc(59px + (60 - 59) * ((100vw - 320px) / (504 - 320)));
  height: calc(54px + (55 - 54) * ((100vw - 320px) / (504 - 320)));
}

.logo img {
  width: 100%;
  height: 100%;
}

.adaptive-image {
  display: block;
  position: relative;
  padding: 0px 0px 100% 0px;
}

.adaptive-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  height: 100%;
  color: white;
  font-family: Roboto;
  font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (504 - 320)));
  display: grid;
  grid-template: 'header' 100px 'main' auto / 1fr;
}

body.fixed {
  overflow: hidden;
}

body button {
  color: #fff;
}

.main {
  grid-area: main;
  width: 100%;
  background: #343A40;
}

.main__body {
  background: #343A40;
}

.content {
  text-align: center;
}

.content__body {
  padding: 25px 0px 0px 0px;
}

.content__body article {
  margin: 0px 0px 15% 0px;
}

.post__body {
  background: #5F5F5F;
  padding: 20px;
  border-radius: 7px;
  border: 1px solid #67B6FF;
}

.post__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 20px 0px;
}

.post__author-avatar {
  width: calc(49px + (50 - 49) * ((100vw - 320px) / (504 - 320)));
  padding-bottom: calc(49px + (50 - 49) * ((100vw - 320px) / (504 - 320)));
  margin: 0px 20px 0px 0px;
}

.post__author-avatar img {
  border-radius: 50%;
}

.post__name {
  font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (504 - 320)));
}

.post__image {
  margin: 0px -20px 28px -20px;
}

.post__image img {
  width: 100%;
  height: 100%;
}

.post__main {
  margin: 0px 0px 28px 0px;
}

.post__text {
  font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (504 - 320)));
  text-align: left;
  line-height: 1.3;
}

.post__footer {
  display: grid;
  grid-template: '.actions more' 1fr/ 1fr 1fr 1fr;
}

.post__actions {
  grid-area: actions;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post__actions button {
  margin: 0px 15px 0px 0px;
  padding: 0px 5px 0px 5px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.post__actions button:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.post__more-button {
  grid-area: more;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post__more-button button {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.post__more-button button:hover {
  background: #93CBFF;
  color: #7E2FFF;
}

.more-button {
  padding: 7px 34px 7px 34px;
  border: 1px solid #7FC1FF;
  border-radius: 7px;
  color: #7FC1FF;
  font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (504 - 320)));
}

.action-button__image {
  width: calc(29px + (30 - 29) * ((100vw - 320px) / (504 - 320)));
  height: calc(29px + (30 - 29) * ((100vw - 320px) / (504 - 320)));
}

.container {
  margin: auto;
}

.modal-window {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  background: #00000046;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.modal-window.active {
  overflow-y: scroll;
  opacity: 1;
  pointer-events: all;
}

.modal-window__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-window .searchbar {
  width: 250px;
  margin: auto;
}

.modal-window .searchbar input {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.event-window {
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
      -ms-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.event-window.active {
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.event-window__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #464646;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 15px 30px 15px 30px;
}

.event-window__body span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 320px;
  font-size: calc(23px + (24 - 23) * ((100vw - 320px) / (504 - 320)));
}

.event-window__image {
  margin: 0px 0px 0px 15px;
}

@media (min-width: 534px) {
  .container {
    width: 504px;
  }
}

@media (min-width: 615px) {
  .search-modal-icon {
    display: none;
  }
}

@media (min-width: 768px) {
  .header__body {
    width: 85%;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 35%;
  }
}

@media (max-width: 615px) {
  .header-actions .searchbar {
    display: none;
  }
}

@media (max-width: 534px) {
  .post__body {
    padding: 10px;
  }

  .post__header {
    margin: 0px 0px 10px 0px;
  }

  .post__image {
    margin: 0px -10px 18px -10px;
  }

  .post__footer {
    grid-template: 'actions more' 1fr/ 1fr 1fr;
  }

  .post__actions {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 426px) {
  .logo {
    width: calc(39px + (40 - 39) * ((100vw - 320px) / (504 - 320)));
    height: calc(34px + (35 - 34) * ((100vw - 320px) / (504 - 320)));
  }
}

@media (max-width: 425px) {
  .header__body {
    width: 95%;
  }

  .submenu-open-button {
    display: none;
  }

  .header__burger {
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40px;
    height: 20px;
    border-top: 0.2em solid #7FC1FF;
    border-bottom: 0.2em solid #7FC1FF;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .header__burger span {
    height: 0.18em;
    width: 100%;
    background-color: #7FC1FF;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .container {
    width: 95%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  html ::-webkit-scrollbar {
    width: 0px;
  }

  .header__body {
    width: 90%;
  }
}

@media (min-width: 426px) and (max-width: 534px) {
  .container {
    width: 75%;
    height: auto;
  }
}